body,
html {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

article {
    font-size: medium;
}

p {
    font-size: 20px;
}

/***********************************************/

#premiere_division {
    display: flex;
    position: relative;
    flex: 30%;
    background-color: rgb(255, 187, 0);
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#premiere_division .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

#premiere_division .profile img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    padding: 1%;
    border: 1px rgb(151, 142, 142) solid;
}

#premiere_division h3 {
    color: rgb(255, 187, 0);
    text-align: center;
    background-color: rgb(73, 70, 70);
    margin: 0;
    padding: 2%;
}

#premiere_division p {
    margin: 5px;
}

#premiere_division .contact_content {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 7.5%;
    text-align: justify;
    justify-content: space-around;
    color: rgb(73, 70, 70);

}


#premiere_division .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}




#premiere_division .icones {
    flex-direction: row;
}

#premiere_division .contact_content i {
    border-radius: 50%;
    color: rgb(73, 70, 70);
}


/*********************************************/

#deuxieme_division {
    display: flex;
    flex-direction: column;
    padding-left: 7.5%;
    padding-right: 5%;
    padding-top: 5%;
    flex: 70%;
    word-wrap: break-word
}

.corps {
    padding-top: 5%;
}

.nom {
    font-size: 75px;
}

.nom strong {
    color: rgb(255, 187, 0);
}

.fonction {
    font-size: 30px;
}

h2 {
    border-bottom: 3px solid rgb(255, 187, 0);
}

.under {
    border-bottom: 1px solid rgb(255, 187, 0);
}

.section {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    font-size: 20px;
}

.styled-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    /* Retirer les puces par defaut */
}

.styled-list li::before {
    content: "\2022";
    /* Le contenu: \2022 est le CSS Code/unicode pour une puce */
    color: rgb(255, 187, 0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -5%;
}

.styled-list li {
    /* Pour afficher deux elements sur une ligne */
    margin: 1%;
    flex: 0 48%;
}

li.recent::before {
    /* L'unicode la double puce */
    content: "\29BF";
}

.styled-list li:nth-child(even)::before {
    /* Pour ne pas afficher les puces devant les elements sur la droite */
    content: none;
}

.section>p {
    /* Separer les deux paragraphes a la fin de la page */
    flex: 0 50%;
}

.place {
    font-weight: bolder;
    font-size: 25px;
}

.titre {
    line-height: 50px;
    font-size: 22px;
}


#deuxieme_division i {
    color: rgb(255, 187, 0);
}


/********************************************/

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    #premiere_division {
        flex: 100%;
    }

    #premiere_division .profile img {
        width: 70%;
        height: auto;
    }

    #premiere_division .footer {
        position: relative;
    }

    #deuxieme_division {
        flex: 100%;

    }

    .styled-list {
        flex-flow: column;
    }

    .contact_content {
        padding: 2%;
    }

}