body,
html {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: row;
}

article {
    font-size: medium;
}


/***********************************************/

#div_jaune {
    display: flex;
    flex: 30%;
    background-color: rgb(255, 187, 0);
    flex-direction: column;
    border: 1px rgb(124, 108, 108) solid;
    margin: 0;
    padding: 0;
}

#div_jaune .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

#div_jaune .profile img {
    width: auto;
    height: 90%;
    border-radius: 50%;
}

#div_jaune h3 {
    color: rgb(255, 187, 0);
    text-align: center;
    background-color: rgb(24, 21, 21);
    margin: 0;
    padding: 0;
}

#div_jaune .contact_content {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 7.5%;
    text-align: justify;
    justify-content: space-around;
    color: saddlebrown;

}

#div_jaune .icones {
    flex-direction: row;
}

#div_jaune .contact_content i {
    border-radius: 50%;
}


/*********************************************/

#div_blanche {
    display: flex;
    flex-direction: column;
    padding-left: 7.5%;
    padding-right: 5%;
    padding-top: 5%;
    flex: 70%;
    border: 1px black solid;
    word-wrap: break-word
}

.corps {
    padding-top: 5%;
}

h1 strong {
    color: rgb(255, 187, 0);
}

h2 {
    border-bottom: 3px solid rgb(255, 187, 0);
}

.under {
    border-bottom: 1px solid rgb(255, 187, 0);
}

.section {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.styled-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    /* Retirer les puces par defaut */
}

.styled-list li::before {
    content: "\2022";
    /* Le contenu: \2022 est le CSS Code/unicode pour une puce */
    color: rgb(255, 187, 0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -5%;
}

.styled-list li {
    /* Pour afficher deux elements sur une ligne */
    margin: 1%;
    flex: 0 48%;
}

li.recent::before {
    /* L'unicode la double puce */
    content: "\29BF";
}

.styled-list li:nth-child(even)::before {
    /* Pour ne pas afficher les puces devant les elements sur la droite */
    content: none;
}

.section>p {
    /* Separer les deux paragraphes a la fin de la page */
    flex: 0 50%;
}

.titre {
    font-weight: bold;
    font-size: 20px;
}

#div_blanche i {
    color: rgb(255, 187, 0);
}


/********************************************/
/*@media only screen and (min-width: 601px) {
    img.responsive {
        width: 90px;
    }

    #div_jaune {
        font-size: 80px;
    }

    h1 {
        font-size: 80px;
    }

    h4 {
        font-size: 80px;
    }

    h2 {
        font-size: 80px;
    }

    .titre {

        font-size: 80px;
    }

    .section {
        font-size: 16px;
    }
}*/

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    #div_jaune {
        flex: 100%;
        
        font-size: 7px;
    }

    #div_blanche {
        flex: 100%;
     
    }

    .styled-list {
        flex-flow: column;
    }

    .contact_content{
        padding: 2%;
    }
/*
    img.responsive {
        width: 60px;
    }

    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 13px;
    }

    h4 {
        font-size: 10px;
    }

    .section {
        font-size: 8px;
    }

    .titre {
        font-size: 10px;
    }*/

}